.section5-bg,
.subsection5-bg {
    position: relative;
}

.section5-header {
    height: 372px;
}

.section5-header .section5-header-title {
    font-size: 38px;
    font-family: 'Lusail Bold', serif;
}

.section5-header .section5-header-subtitle {
    font-size: 28px;
    font-family: 'Lusail Light', serif;
}

.subsection5-bg {
    height: auto;
}

.subsection5-bg .section5-middle-boxes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 982px;
}

.section5-container .section5-card>img {
    height: 270px;
}

.section5-container a {
    text-decoration: none !important;
}

.section5-container .section5-card {
    height: 550px;
    width: 100%;
}

.section5-container .section5-card a {
    height: 479px;
    width: 370px;
}

.section5-container .section5-card:hover {
    background-color: #06a388;
    color: #ffffff;
}

.section5-container .section5-card .card-title {
    font-size: 18px;
    font-family: 'Lusail Bold', serif;
}

.section5-container .section5-card .card-text {
    font-size: 14px;
    font-family: 'Lusail Regular', serif;
}

.section5-container a {
    text-decoration: none !important;
}

.section5-container .section5-card .card-footer {
    background-color: transparent;
    border-top: none;
}

.section5-container .section5-card .card-footer button {
    color: #59BCAA;
}

.section5-container .section5-card:hover .card-footer button {
    color: #ffffff;
}

.section5-container .section5-card .card-footer img {
    height: 15px;
    max-width: 105px;
}